# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Project 4: Web Scraping Job Postings

## Business Case Overview

You're working as a data scientist for a contracting firm that's rapidly expanding. Now that they have their most valuable employee (you!), they need to leverage data to win more contracts. Your firm offers technology and scientific solutions and wants to be competitive in the hiring market. Your principal has two main objectives:

   1. Determine the industry factors that are most important in predicting the salary amounts for these data.
   2. Determine the factors that distinguish job categories and titles from each other. For example, can required skills accurately predict job title?

To limit the scope, your principal has suggested that you *focus on data-related job postings*, e.g. data scientist, data analyst, research scientist, business intelligence, and any others you might think of. You may also want to decrease the scope by *limiting your search to a single region.*

Hint: Aggregators like [Indeed.com](https://www.indeed.com) regularly pool job postings from a variety of markets and industries. 

**Goal:** Scrape your own data from a job aggregation tool like Indeed.com in order to collect the data to best answer these two questions.

---

## Directions

In this project you will be leveraging a variety of skills. The first will be to use the web-scraping and/or API techniques you've learned to collect data on data jobs from Indeed.com or another aggregator. Once you have collected and cleaned the data, you will use it to answer the two questions described above.

### QUESTION 1: Factors that impact salary

To predict salary you will be building either a classification or regression model, using features like the location, title, and summary of the job. If framing this as a regression problem, you will be estimating the listed salary amounts. You may instead choose to frame this as a classification problem, in which case you will create labels from these salaries (high vs. low salary, for example) according to thresholds (such as median salary).

You have learned a variety of new skills and models that may be useful for this problem:
- NLP
- Unsupervised learning and dimensionality reduction techniques (PCA, clustering)
- Ensemble methods and decision tree models
- SVM models

Whatever you decide to use, the most important thing is to justify your choices and interpret your results. *Communication of your process is key.* Note that most listings **DO NOT** come with salary information. You'll need to able to extrapolate or predict the expected salaries for these listings.

### QUESTION 2: Factors that distinguish job category

Using the job postings you scraped for part 1 (or potentially new job postings from a second round of scraping), identify features in the data related to job postings that can distinguish job titles from each other. There are a variety of interesting ways you can frame the target variable, for example:
- What components of a job posting distinguish data scientists from other data jobs?
- What features are important for distinguishing junior vs. senior positions?
- Do the requirements for titles vary significantly with industry (e.g. healthcare vs. government)?

You may end up making multiple classification models to tackle different questions. Be sure to clearly explain your hypotheses and framing, any feature engineering, and what your target variables are. The type of classification model you choose is up to you. Be sure to interpret your results and evaluate your models' performance.


### BONUS PROBLEM

Your boss would rather tell a client incorrectly that they would get a lower salary job than tell a client incorrectly that they would get a high salary job. Adjust one of your models to ease his mind, and explain what it is doing and any tradeoffs. Plot the ROC curve.

---

## Requirements

1. Scrape and prepare your own data.

2. **Create and compare at least two models for each section**. One of the two models should be a decision tree or ensemble model. The other can be a classifier or regression of your choosing (e.g. Ridge, logistic regression, KNN, SVM, etc).
   - Section 1: Job Salary Trends
   - Section 2: Job Category Factors

3. Prepare a polished Jupyter Notebook with your analysis for a peer audience of data scientists. 
   - Make sure to clearly describe and label each section.
   - Comment on your code so that others could, in theory, replicate your work.

4. A brief writeup in an executive summary, written for a non-technical audience.
   - Writeups should be at least 500-1000 words, defining any technical terms, explaining your approach, as well as any risks and limitations.

#### BONUS

5. Answer the salary discussion by using your model to explain the tradeoffs between detecting high vs low salary positions.

6. Convert your executive summary into a public blog post of at least 500 words, in which you document your approach in a tutorial for other aspiring data scientists. Link to this in your notebook.

## Questions to Answer

### 1) Determine the `industry factors` that are most important in predicting the salary amounts for these data 

### 2) Determine the `factors that distinguish job categories and titles` from each other. For example, can required skills accurately predict job title?

### QUESTION 1: Factors that impact salary

To predict salary you will be building either a classification or regression model, using features like the location, title, and summary of the job. If framing this as a regression problem, you will be estimating the listed salary amounts. You may instead choose to frame this as a classification problem, in which case you will create labels from these salaries (high vs. low salary, for example) according to thresholds (such as median salary).

You have learned a variety of new skills and models that may be useful for this problem:
- NLP
- Unsupervised learning and dimensionality reduction techniques (PCA, clustering)
- Ensemble methods and decision tree models
- SVM models

Whatever you decide to use, the most important thing is to justify your choices and interpret your results. *Communication of your process is key.* Note that most listings **DO NOT** come with salary information. You'll need to able to extrapolate or predict the expected salaries for these listings.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
pd.set_option('display.max_columns',None)

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.head(2)

,Unnamed: 0,company_name,job_address,job_title,job_category,employment_type,salary,salary_type,description,requirements
0,0,GOOGLE ASIA PACIFIC PTE. LTD.,"MARINA BAY FINANCIAL CENTRE, 8 MARINA BOULEVAR...","Data Science Lead, Large Customer Sales - Sing...",Information Technology,Full Time,"$7,700to$15,400",Monthly,Roles & ResponsibilitiesCompany overview: Goog...,RequirementsMinimum qualifications: - Bachelor...
1,1,TRAKOMATIC PTE. LTD.,NaN,Data analyst,Information Technology,Full Time,"$3,500to$4,500",Monthly,Roles & ResponsibilitiesThe Retail Data Analys...,RequirementsRequirements: A bachelor’s deg...

In [4]:
df.drop(columns=['Unnamed: 0'],inplace=True)

## 1) EDA and Cleaning Salary

In [5]:
df.salary.isnull().sum()

210

In [6]:
# cleaning the salary column and splitting the information to maximum salary and minimum salary
df['salary_min']=df.salary.str.replace(',','').str.replace('to',' ').str.replace('$','').str.split().str[0].astype(float)
df['salary_max']=df.salary.str.replace(',','').str.replace('to',' ').str.replace('$','').str.split().str[1].astype(float)

In [7]:
# create a salary average column
df['salary_average']=(df['salary_min']+df['salary_max'])/2

In [8]:
df['salary_average'].describe()

count      1790.000000
mean       9271.484358
std       20936.753789
min         650.000000
25%        3750.000000
50%        6000.000000
75%        7750.000000
max      350000.000000
Name: salary_average, dtype: float64

In [9]:
# converting annual salary to monthly salary
for i in df[df['salary_type'].isin(['Annually'])].index:
    df['salary_average'][i]=df[df['salary_type'].isin(['Annually'])]['salary_average'][i]/12

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
df['salary_average'].describe()

count      1790.000000
mean       6539.453073
std        7183.729083
min         650.000000
25%        3750.000000
50%        6000.000000
75%        7500.000000
max      180000.000000
Name: salary_average, dtype: float64

In [11]:
# investigating the job with the oddly high monthly pay
# Since the job is looking for a 'boss', the pay seems legit
df[df['salary_average']==180000]

,company_name,job_address,job_title,job_category,employment_type,salary,salary_type,description,requirements,salary_min,salary_max,salary_average
1600,SIX FINANCIAL INFORMATION SINGAPORE PTE. LTD.,"SUNTEC TOWER TWO, 9 TEMASEK BOULEVARD 038989",Head of SSO (APAC),"Banking and Finance, Others",Full Time,"$144,000to$216,000",Monthly,Roles & ResponsibilitiesThe SSO group provides...,RequirementsMain Duties 1. A key positive aspe...,144000.0,216000.0,180000.0

In [12]:
# dropping salary column
df.drop(columns='salary',inplace=True)

In [13]:
# dropping rows that doesnt have salary value
df.dropna(subset=['salary_average'],inplace=True)

In [14]:
# creating a target variable ( high pay=1, low pay=0)
df['salary_high_low']=df['salary_average'].map(lambda x: 0 if x<6000 else 1)

In [15]:
df.head()

,company_name,job_address,job_title,job_category,employment_type,salary_type,description,requirements,salary_min,salary_max,salary_average,salary_high_low
0,GOOGLE ASIA PACIFIC PTE. LTD.,"MARINA BAY FINANCIAL CENTRE, 8 MARINA BOULEVAR...","Data Science Lead, Large Customer Sales - Sing...",Information Technology,Full Time,Monthly,Roles & ResponsibilitiesCompany overview: Goog...,RequirementsMinimum qualifications: - Bachelor...,7700.0,15400.0,11550.0,1
1,TRAKOMATIC PTE. LTD.,NaN,Data analyst,Information Technology,Full Time,Monthly,Roles & ResponsibilitiesThe Retail Data Analys...,RequirementsRequirements: A bachelor’s deg...,3500.0,4500.0,4000.0,0
3,INTELLECT MINDS PTE. LTD.,"ANSON CENTRE, 51 ANSON ROAD 079904",Data Engineer,Information Technology,Full Time,Monthly,Roles & ResponsibilitiesCompany Overview Intel...,RequirementsQualifications • Advanced working ...,5000.0,7000.0,6000.0,1
5,GUMI ASIA PTE. LTD.,"CONNEXIS, 1 FUSIONOPOLIS WAY 138632",Data Analyst,Others,Full Time,Monthly,Roles & Responsibilities Perform evaluations a...,Requirements Minimum Diploma/ Degree in Statis...,2800.0,3800.0,3300.0,0
6,DBS BANK LTD.,"MARINA BAY FINANCIAL CENTRE, 12 MARINA BOULEVA...","AVP, Data Scientist, Business Analytics, Consu...",Information Technology,Full Time,Monthly,Roles & ResponsibilitiesBusiness Function As ...,Requirements Masters or equivalent degree in S...,6500.0,11700.0,9100.0,1

## EDA and Cleaning Employment Type

In [16]:
# selecting reliable employment type information

permanent_full_time=['Full Time', 'Permanent', 'Permanent, Full Time']
temporary_full_time=['Contract','Permanent, Contract','Permanent, Contract, Full Time','Contract, Full Time', 'Temporary', 'Temporary, Contract','Temporary, Full Time', 'Contract, Full Time, Flexi work','Temporary, Contract, Full Time','Freelance, Full Time, Flexi work']


# uniforming the labelling to either permanent full time or temporary full time

# df['employment_type'].map(lambda x: 'permanent_full_time' if x in permanent_full_time else 'temporary_full_time')
df=df[df.employment_type.isin(temporary_full_time+permanent_full_time)]

df['employment_type']=df['employment_type'].map(lambda x: 'permanent and fulltime' if x in permanent_full_time else 'temporary and fulltime')

## EDA and Cleaning Job Category

In [18]:
# df['job_category']=df['job_category'].map(lambda x: x.replace(' ',''))

In [19]:
# Top job category under the 'data search'
df.job_category.value_counts().sort_values(ascending=False)

Information Technology                                                                            520
Engineering                                                                                       127
Banking and Finance                                                                                90
Accounting / Auditing / Taxation                                                                   87
Admin / Secretarial                                                                                70
Sciences / Laboratory / R&D                                                                        65
Others                                                                                             63
Human Resources                                                                                    44
Advertising / Media                                                                                39
Logistics / Supply Chain                                                                           37
Marketing / Public Relations                                                                       35
Sales / Retail                                                                                     32
Consulting                                                                                         31
Engineering, Manufacturing                                                                         31
Information Technology, Public / Civil Service                                                     27
Manufacturing                                                                                      23
Building and Construction                                                                          22
Education and Training                                                                             18
Healthcare / Pharmaceutical                                                                        17
Banking and Finance, Information Technology                                                        17
General Management                                                                                 16
Engineering, Information Technology                                                                15
Repair and Maintenance                                                                             12
Engineering, Sciences / Laboratory / R&D                                                           12
Consulting , Information Technology                                                                11
Customer Service                                                                                   11
Design                                                                                             10
F&B                                                                                                 9
Purchasing / Merchandising                                                                          7
Legal                                                                                               7
                                                                                                 ...
Consulting , Marketing / Public Relations                                                           1
Advertising / Media , Consulting , Professional Services                                            1
Banking and Finance, Engineering, Information Technology, Telecommunications                        1
Information Technology, Sciences / Laboratory / R&D                                                 1
Design, Marketing / Public Relations                                                                1
Customer Service, Engineering, Information Technology                                               1
Environment / Health  , Healthcare / Pharmaceutical, Medical / Therapy Services                     1
Consulting , Human Resources , Information Technology                                               1
Accounting / Auditing / Taxation, Building and Construction, Human Resources                        1
Consulting , Information Technology, Manufacturing                                                  1
Consulting , Building and Construction                                                              1
Advertising / Media , Entertainment, Information Technology                                         1
Admin / Secretarial, Human Resources , Others                                                       1
Marketing / Public Relations , Others, Telecommunications                                           1
Information Technology, General Management                                                          1
Engineering, Environment / Health                                                                   1
Education and Training, Engineering, Sciences / Laboratory / R&D                                    1
Information Technology, Manufacturing                                                               1
Engineering, Others                                                                                 1
Events / Promotions , Healthcare / Pharmaceutical, Others, Sales / Retail , Telecommunications      1
Accounting / Auditing / Taxation, Education and Training                                            1
Consulting , Engineering                                                                            1
Human Resources , General Management, Marketing / Public Relations                                  1
Accounting / Auditing / Taxation, Admin / Secretarial, Education and Training, Others               1
Consulting , Education and Training, Engineering, Information Technology                            1
Advertising / Media , Others                                                                        1
Human Resources , Professional Services, Sales / Retail                                             1
Marketing / Public Relations , Public / Civil Service                                               1
Others, Professional Services                                                                       1
Hospitality, Information Technology, Sales / Retail , Travel / Tourism                              1
Name: job_category, Length: 192, dtype: int64

In [20]:
df.job_category.unique()

array(['Information Technology', 'Others',
       'Engineering, Information Technology', 'Banking and Finance',
       'Marketing / Public Relations ',
       'Education and Training, Sciences / Laboratory / R&D',
       'Environment / Health  , Healthcare / Pharmaceutical, Medical / Therapy Services',
       'Human Resources ', 'Advertising / Media ',
       'Environment / Health  , Healthcare / Pharmaceutical, Medical / Therapy Services, Sciences / Laboratory / R&D',
       'General Management', 'Sciences / Laboratory / R&D',
       'Consulting , Information Technology, Insurance', 'Legal',
       'Engineering', 'Information Technology, Public / Civil Service',
       'Design, Engineering, Information Technology',
       'Real Estate / Property Management', 'Admin / Secretarial',
       'Design, Engineering', 'Healthcare / Pharmaceutical',
       'Engineering, Information Technology, Logistics / Supply Chain',
       'Logistics / Supply Chain', 'Consulting ',
       'Accounting / Auditing / Taxation',
       'Engineering, Sciences / Laboratory / R&D',
       'Customer Service, Professional Services',
       'Purchasing / Merchandising', 'Building and Construction',
       'Consulting , Legal, General Management', 'Repair and Maintenance',
       'Customer Service, Insurance', 'Design',
       'Logistics / Supply Chain, Manufacturing, Others',
       'Logistics / Supply Chain, Manufacturing', 'Risk Management',
       'Advertising / Media , Design, Information Technology',
       'Design, Information Technology',
       'Information Technology, Marketing / Public Relations ',
       'Consulting , Information Technology',
       'Information Technology, Insurance',
       'Human Resources , Information Technology',
       'Accounting / Auditing / Taxation, Admin / Secretarial, Engineering',
       'Consulting , Banking and Finance, Information Technology',
       'Education and Training, Information Technology',
       'Others, Travel / Tourism', 'Advertising / Media , Insurance',
       'Social Services',
       'Consulting , Human Resources , Information Technology',
       'Banking and Finance, Telecommunications',
       'Admin / Secretarial, Manufacturing',
       'Marketing / Public Relations , Sales / Retail ',
       'Banking and Finance, Information Technology',
       'Accounting / Auditing / Taxation, Admin / Secretarial, Banking and Finance',
       'Sales / Retail ', 'Manufacturing',
       'Admin / Secretarial, Education and Training, Marketing / Public Relations ',
       'Information Technology, Sales / Retail , Telecommunications',
       'Professional Services',
       'Engineering, Manufacturing, Repair and Maintenance, Telecommunications',
       'Engineering, Information Technology, Manufacturing',
       'Customer Service, Logistics / Supply Chain',
       'Admin / Secretarial, Sales / Retail ',
       'Admin / Secretarial, Education and Training, Others',
       'Engineering, Manufacturing', 'Hospitality', 'Telecommunications',
       'Admin / Secretarial, Banking and Finance, Customer Service, General Work, Legal',
       'Accounting / Auditing / Taxation, Information Technology', 'F&B',
       'Engineering, Public / Civil Service',
       'Marketing / Public Relations , Public / Civil Service',
       'Information Technology, Manufacturing', 'Customer Service',
       'Engineering, Marketing / Public Relations ',
       'Education and Training',
       'Advertising / Media , Design, Entertainment, Marketing / Public Relations ',
       'Building and Construction, Engineering, Sciences / Laboratory / R&D',
       'Customer Service, Engineering, Information Technology',
       'F&B, Hospitality', 'Consulting , Engineering',
       'Advertising / Media , Professional Services',
       'Hospitality, Information Technology, Sales / Retail , Travel / Tourism',
       'Advertising / Media , Consulting , Professional Services',
       'Engineering, Manufacturing, Repair and Maintenance',
       'Consulting , Information Technology, Professional Services',
       'Accounting / Auditing / Taxation, Building and Construction',
       'Logistics / Supply Chain, Purchasing / Merchandising, Sales / Retail ',
       'Information Technology, Sales / Retail ',
       'Human Resources , Manufacturing',
       'Engineering, Manufacturing, Others',
       'Customer Service, General Work, Logistics / Supply Chain',
       'Admin / Secretarial, Customer Service',
       'Logistics / Supply Chain, General Management',
       'Accounting / Auditing / Taxation, Banking and Finance',
       'Admin / Secretarial, Education and Training',
       'Information Technology, Others',
       'Architecture / Interior Design, Building and Construction',
       'Others, Sciences / Laboratory / R&D',
       'Advertising / Media , Entertainment, Information Technology, Marketing / Public Relations ',
       'Advertising / Media , Entertainment, Information Technology',
       'Admin / Secretarial, Social Services, Customer Service, Education and Training',
       'Environment / Health  ',
       'Education and Training, Public / Civil Service',
       'Logistics / Supply Chain, Others',
       'Others, Professional Services',
       'Education and Training, Engineering, Sciences / Laboratory / R&D',
       'Customer Service, Logistics / Supply Chain, Manufacturing',
       'Accounting / Auditing / Taxation, Admin / Secretarial',
       'Admin / Secretarial, Human Resources ',
       'Information Technology, Logistics / Supply Chain',
       'Consulting , Information Technology, Manufacturing',
       'Accounting / Auditing / Taxation, General Management',
       'Banking and Finance, Engineering, Information Technology, Telecommunications',
       'Admin / Secretarial, Customer Service, Logistics / Supply Chain, Others',
       'Consulting , Building and Construction',
       'Consulting , Professional Services',
       'Logistics / Supply Chain, Purchasing / Merchandising',
       'Healthcare / Pharmaceutical, Information Technology, Sciences / Laboratory / R&D',
       'Engineering, Environment / Health  ',
       'Architecture / Interior Design',
       'Information Technology, Telecommunications',
       'Logistics / Supply Chain, Travel / Tourism',
       'Accounting / Auditing / Taxation, Logistics / Supply Chain',
       'Accounting / Auditing / Taxation, Admin / Secretarial, Human Resources ',
       'Accounting / Auditing / Taxation, Admin / Secretarial, Education and Training, Others',
       'Information Technology, General Management',
       'Others, Sales / Retail , Travel / Tourism',
       'Building and Construction, Engineering',
       'Advertising / Media , Marketing / Public Relations ',
       'Admin / Secretarial, Insurance',
       'Consulting , Building and Construction, Engineering',
       'Admin / Secretarial, Customer Service, Human Resources , General Management',
       'Engineering, Others, Repair and Maintenance',
       'Environment / Health  , Sciences / Laboratory / R&D',
       'Accounting / Auditing / Taxation, Building and Construction, Purchasing / Merchandising',
       'Accounting / Auditing / Taxation, Building and Construction, Human Resources ',
       'Human Resources , General Management, Marketing / Public Relations ',
       'Education and Training, Marketing / Public Relations ',
       'Accounting / Auditing / Taxation, Education and Training',
       'Admin / Secretarial, General Work, Logistics / Supply Chain',
       'Events / Promotions ',
       'Customer Service, Marketing / Public Relations ',
       'Banking and Finance, Information Technology, Insurance',
       'Architecture / Interior Design, Building and Construction, Engineering',
       'Public / Civil Service',
       'Consulting , Marketing / Public Relations ',
       'Building and Construction, Engineering, Repair and Maintenance',
       'Admin / Secretarial, Logistics / Supply Chain',
       'Customer Service, Information Technology',
       'Advertising / Media , Design, Real Estate / Property Management',
       'Design, Marketing / Public Relations ',
       'Architecture / Interior Design, Building and Construction, Engineering, Information Technology',
       'Human Resources , Professional Services, Sales / Retail ',
       'General Work',
       'Events / Promotions , Healthcare / Pharmaceutical, Others, Sales / Retail , Telecommunications',
       'Consulting , Education and Training, Engineering, Information Technology',
       'Admin / Secretarial, Human Resources , Others',
       'Healthcare / Pharmaceutical, Medical / Therapy Services, Sciences / Laboratory / R&D',
       'Engineering, Information Technology, Professional Services',
       'Consulting , Banking and Finance', 'Insurance',
       'Healthcare / Pharmaceutical, Manufacturing',
       'Customer Service, Marketing / Public Relations , Others, Professional Services',
       'Consulting , Sales / Retail ', 'Admin / Secretarial, Others',
       'Architecture / Interior Design, Engineering, Environment / Health  ',
       'Banking and Finance, Others',
       'Banking and Finance, Security and Investigation',
       'General Management, Others, Sales / Retail ',
       'Banking and Finance, Customer Service, Information Technology, Others',
       'Admin / Secretarial, Customer Service, Logistics / Supply Chain, Purchasing / Merchandising',
       'Engineering, Real Estate / Property Management, Repair and Maintenance',
       'Admin / Secretarial, Manufacturing, Sales / Retail ',
       'Consulting , General Management, Professional Services',
       'Consulting , Others, Travel / Tourism',
       'Advertising / Media , Others',
       'Logistics / Supply Chain, Sales / Retail ',
       'Admin / Secretarial, Advertising / Media , Customer Service, Events / Promotions , General Work',
       'Consulting , Customer Service, Education and Training, Human Resources , Sales / Retail ',
       'Accounting / Auditing / Taxation, Admin / Secretarial, Consulting ',
       'Marketing / Public Relations , Purchasing / Merchandising, Sales / Retail ',
       'Advertising / Media , Information Technology, Sales / Retail ',
       'Marketing / Public Relations , Others, Telecommunications',
       'Consulting , Customer Service', 'Advertising / Media , Design',
       'Building and Construction, Design, Engineering',
       'Engineering, Others',
       'Accounting / Auditing / Taxation, Admin / Secretarial, Human Resources , Information Technology, Sales / Retail ',
       'Admin / Secretarial, Banking and Finance',
       'Information Technology, Sciences / Laboratory / R&D',
       'Consulting , Customer Service, Professional Services'],
      dtype=object)


### Pulling out job categories that are related to data analytics

#### 1) Information Technology (520)
#### 2) Engineering (127)
#### 3) Banking and Finance (90)
#### 4) Marketing / Public Relations (35)
#### 5) Advertising / Media (39)
#### 6) Sciences / Laboratory / R&D (65)
#### 7) Information Technology, Public / Civil Service (27)
#### 8) Banking and Finance, Information Technology (17)
#### 9) Consulting (31)
#### 10) Consulting , Information Technology (11)
#### 11) Information Technology, Insurance (1)
#### 12) Sales / Retail (32)
#### 13) General Management (16)
#### 14) Banking and Finance, Engineering, Information Technology, Telecommunications (1)
#### 15) Engineering, Information Technology, Professional Services (1)

In [21]:
relevant_jobs=['Information Technology','Engineering','Banking and Finance','Marketing / Public Relations ','Advertising / Media ','Sciences / Laboratory / R&D','Information Technology, Public / Civil Service',
                     'Banking and Finance, Information Technology','Consulting ','Consulting , Information Technology','Information Technology, Insurance','Sales / Retail ','General Management','Banking and Finance, Engineering, Information Technology, Telecommunications ',
                     'Engineering, Information Technology, Professional Services']
df=df[df['job_category'].isin(relevant_jobs)]

In [22]:
## cleaning the job category by removing punctuations

df['job_category']=df.job_category.map(lambda x: re.sub('[^a-zA-Z]',' ',x))

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
df['job_category']=df['job_category'].map(lambda x: x.replace('r d','research and development'))

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### Changing all text to lowercase

In [24]:
df=df.applymap(lambda x: x.lower().strip() if isinstance(x,str) else x)

## EDA and Cleaning Postcode

In [25]:
# extracting the postcode for each job 
df['postcode']=df['job_address'].map(lambda x: 'NaN' if isinstance(x,str)!= True else x[-6:])

In [26]:
df['postcode'].value_counts().sort_values(ascending=False).head()

NaN       209
018981     31
117438     22
049909     22
486025     18
Name: postcode, dtype: int64

## EDA and Cleaning Company Name

In [27]:
# finding the company with the most job postings
df.company_name.value_counts().head()

company undisclosed                 102
a*star research entities             23
government technology agency         22
nanyang technological university     17
dbs bank ltd.                        16
Name: company_name, dtype: int64

In [28]:
# cleaning the company name. Removing PTE LTD,
df['company_name']=df['company_name'].map(lambda x: x.replace('pte. ltd.','').replace('pte ltd','').replace('ltd.','').replace('(pte.)','').replace('(singapore)','').replace('(singapore branch)','').replace('pte. limited','').replace('limited','').replace(' (s)',''))

In [29]:
df.company_name.head()

0    google asia pacific
1             trakomatic
3        intellect minds
6               dbs bank
7            niometrics
Name: company_name, dtype: object

## EDA and Cleaning Job Requirements

In [30]:
for i in df.requirements.index:
    
    try:
        
        requirement=re.sub('[^a-zA-Z]',' ',df.requirements[i])
        requirement=requirement.replace('requirementsjob requirements','').replace('requirements','').replace('requirementsexperience','').replace('requirementsmandatory skills :','').replace('requirementsresponsibilities','').replace('requirementsminimum qualifications','').replace('requirementsrequirements','').replace('\xa0','').replace('requirementsqualifications','').split()
        ps=PorterStemmer()
        requirement=[ps.stem(word) for word in requirement if not word in stopwords.words('english')]
        requirement=' '.join(requirement)
        df['requirements'][i] = requirement
        
    except TypeError:
        df['requirements'][i] = 'NaN'

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [31]:
df.requirements

0       minimum qualif bachelor degre statist mathemat...
1       bachelor degre math comput scienc busi analyt ...
3       qualif advanc work sql knowledg experi work re...
6       master equival degre statist appli mathemat op...
7       valu bachelor higher degre comput scienc equiv...
8       valu ba bs ms equival experi appli data scienc...
10      degre bank financ busi legal document financi ...
11      degre inform technolog relev disciplin year re...
14      least two year relev work experi master phd de...
15      degre holder least year profession experi data...
17      role posit within etrad applic product team si...
19      diploma relev disciplin minimum year relat exp...
20      year experi enterpris architectureknowledg exp...
22      passion game strong mathemat skill digit marke...
23      skill knowledg mandatori indepth domain knowle...
24      degre comput scienc comput engin electron elec...
26      minimum qualif bachelor degre mathemat econom ...
27      least master psycholog cognit scienc linguist ...
30      success candid analyt passion technolog excel ...
31                                                    NaN
32                                                    NaN
34      least year strong experi ecc sap pp mm must cy...
35      bachelor degre requir minimum advanc degre pre...
36      master bachelor degre statist appli math oper ...
37      least year strong experi ecc sap pp mm must cy...
38      degre electr engin comput scienc compar qualif...
41      valu bachelor higher degre comput scienc equiv...
43      creat technic specif implement deploy microsof...
45      degre inform technolog instruct design educ te...
48      least year highli analog hand experi manag sof...
                              ...
1953    consid role skill expertis follow scrum master...
1954    master degre comput scienc relat disciplin yea...
1955    phd degre relev technic field statist mathemat...
1956    candid must possess least bachelor degre post ...
1957    degre comput scienc equival relev work experi ...
1958    year hand experi develop complex secur user ce...
1959    respons implement sophist product develop proj...
1960    minimum bachelor degre quantit field requir en...
1961    master degre inform technolog area equival can...
1962    valu bachelor degre comput scienc informat eng...
1963    respons mainten compani network maintain impro...
1964    year experi data visual visual analyt statist ...
1967    degre psycholog assist investig coordin conduc...
1968    minimum qualif phd master degre comput scienc ...
1969    qualif skill master degre engin graduat equiva...
1970    servicenow admin develop must follow qualif ye...
1976    essenti criteria undergradu degre econom simil...
1978    degre holder equival min year experi project o...
1979    succeed senior busi analyst job need poss expe...
1982    good verbal written commun skill bilingu requi...
1983    least three year post graduat program experi i...
1987    year experi murex environ manag co ordin imple...
1988    bachelor degre comput scienc relat field prefe...
1989    recognis polytechn diploma electron electr eng...
1990    mandatori skill least yr murex knowledg domain...
1991    mandatori skill atleast yr murex knowledg doma...
1992    master geophys experi c c fortran matlab code ...
1993    must possess least diploma strong analyt skill...
1995    experi indic natur extent work experi includ n...
1999    possess degre inform technolog relat field lea...
Name: requirements, Length: 1012, dtype: object

## EDA and Cleaning Job Description

In [32]:
# xf=[]
for i in df.description.index:
    
    try:
        
        description=re.sub('[^a-zA-Z]',' ',df.description[i])
        description=description.replace('roles   responsibilities','').replace('company overview','').split()
        ps=PorterStemmer()
        description=[ps.stem(word) for word in description if not word in stopwords.words('english')]
        description=' '.join(description)
#         xf.append(description)
        df['description'][i] = description
        
    except TypeError:
#         xf.append('NaN')
        df['description'][i] = 'NaN'

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

## Question 1

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split, cross_val_predict, GridSearchCV
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

### Bag of Words Model

#### Creating bag of words model for 

>1) Job Title

>2) Company Name

>3) Job Category

>4) Job Description

>5) Job Requirements

In [34]:
# # Get TFIDF for job title
# job_title_tvec = TfidfVectorizer(ngram_range=(1,3), stop_words='english', min_df=2, max_df=0.5, max_features=25)
# job_title_tvec.fit(df['company_name'])
# job_title_tvec_df = pd.DataFrame(job_title_tvec.transform(df['company_name']).todense(),
#                        columns=['title_[' + f + ']' for f in job_title_tvec.get_feature_names()])

In [35]:
# TFIDF on Company Name
company_name=df['company_name']
company_name_tvec=TfidfVectorizer(lowercase=True, ngram_range=(1,3),stop_words='english', max_df=0.5,min_df=2,max_features=25)
company_name_tvec.fit(company_name)

features=company_name_tvec.get_feature_names()
company_name_tvec.transform(company_name).todense()

company_name_df=pd.DataFrame(company_name_tvec.transform(company_name).todense(),columns=['Name_'+ n for n in features])
# company_name_tvec_df=pd.DataFrame(company_name.transform(company_name).todense(), columns=[features])
# company_name_df

In [36]:
company_name_df.head()

,Name_agency,Name_asia,Name_asia pacific,Name_bank,Name_company,Name_company undisclosed,Name_consulting,Name_entities,Name_global,Name_government,Name_international,Name_pacific,Name_private,Name_research,Name_research entities,Name_services,Name_singapore,Name_solutions,Name_star,Name_star research,Name_star research entities,Name_technologies,Name_technology,Name_undisclosed,Name_university
0,0.0,0.515509,0.607679,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.604133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
# TFIDF on Job Title
job_title=df['job_title']
job_title_tvec=TfidfVectorizer(lowercase=True, ngram_range=(1,3),stop_words='english', max_df=0.5,min_df=2,max_features=25)
job_title_tvec.fit(job_title)

job_title_df=pd.DataFrame(job_title_tvec.transform(job_title).todense(),columns=['Title_'+ n for n in job_title_tvec.get_feature_names()])

In [38]:
job_title_df.head()

,Title_analyst,Title_architect,Title_assistant,Title_associate,Title_business,Title_business analyst,Title_consultant,Title_data,Title_data scientist,Title_developer,Title_engineer,Title_executive,Title_lead,Title_management,Title_manager,Title_marketing,Title_project,Title_research,Title_scientist,Title_senior,Title_singapore,Title_software,Title_software engineer,Title_support,Title_technology
0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.412948,0.00000,0.0,0.000000,0.0,0.63092,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.656821,0.0,0.0,0.0,0.0
1,0.755934,0.0,0.0,0.0,0.000000,0.0,0.0,0.654648,0.00000,0.0,0.000000,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.757957,0.00000,0.0,0.652305,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.482383,0.0,0.0,0.371983,0.57566,0.0,0.000000,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.545482,0.0,0.000000,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.757957,0.00000,0.0,0.652305,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0

In [39]:
# TFIDF on Job Category
job_category=df['job_category']
job_category_tvec=TfidfVectorizer(lowercase=True, ngram_range=(1,3),stop_words='english', max_df=0.5,min_df=2,max_features=25)
job_category_tvec.fit(job_category)

job_category_df=pd.DataFrame(job_category_tvec.transform(job_category).todense(),columns=['Category_'+ n for n in job_category_tvec.get_feature_names()])

In [40]:
job_category_df.head()

,Category_advertising,Category_advertising media,Category_banking,Category_banking finance,Category_civil,Category_consulting,Category_engineering,Category_finance,Category_laboratory,Category_marketing,Category_marketing public,Category_marketing public relations,Category_media,Category_public,Category_public civil,Category_public civil service,Category_public relations,Category_relations,Category_retail,Category_sales,Category_sales retail,Category_sciences,Category_sciences laboratory,Category_service,Category_technology public civil
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
df.columns

Index(['company_name', 'job_address', 'job_title', 'job_category',
       'employment_type', 'salary_type', 'description', 'requirements',
       'salary_min', 'salary_max', 'salary_average', 'salary_high_low',
       'postcode'],
      dtype='object')

In [42]:
# TFIDF on Job Description
job_description=df['description']
job_description_tvec=TfidfVectorizer(lowercase=True, ngram_range=(1,3),stop_words='english', max_df=0.5,min_df=2,max_features=25)
job_description_tvec.fit(job_description)

job_description_df=pd.DataFrame(job_description_tvec.transform(job_description).todense(),columns=['Description_'+ n for n in job_description_tvec.get_feature_names()])

In [43]:
job_description_df.head()

,Description_client,Description_custom,Description_design,Description_engin,Description_ensur,Description_experi,Description_implement,Description_includ,Description_market,Description_new,Description_oper,Description_perform,Description_plan,Description_process,Description_product,Description_project,Description_provid,Description_report,Description_servic,Description_solut,Description_support,Description_technic,Description_technolog,Description_test,Description_use
0,0.111179,0.870423,0.042321,0.212210,0.046502,0.050471,0.047881,0.000000,0.169219,0.049553,0.046441,0.043798,0.000000,0.044237,0.133211,0.085991,0.040549,0.0,0.00000,0.324238,0.000000,0.050906,0.048669,0.00000,0.046685
1,0.312290,0.287639,0.000000,0.000000,0.000000,0.000000,0.000000,0.261924,0.316879,0.278378,0.260896,0.246046,0.000000,0.248513,0.000000,0.483080,0.000000,0.0,0.00000,0.260215,0.000000,0.285982,0.000000,0.00000,0.000000
2,0.568569,0.261844,0.216432,0.271311,0.000000,0.000000,0.000000,0.238435,0.000000,0.000000,0.237499,0.223981,0.000000,0.000000,0.227080,0.000000,0.207366,0.0,0.00000,0.000000,0.207366,0.260335,0.248894,0.00000,0.238749
3,0.000000,0.658312,0.108828,0.272846,0.000000,0.129783,0.000000,0.359676,0.145047,0.000000,0.000000,0.000000,0.000000,0.000000,0.114182,0.000000,0.000000,0.0,0.12413,0.476439,0.000000,0.000000,0.000000,0.00000,0.240099
4,0.000000,0.334854,0.000000,0.433701,0.076030,0.082519,0.156571,0.000000,0.000000,0.081018,0.000000,0.501259,0.084448,0.072326,0.000000,0.000000,0.000000,0.0,0.00000,0.151464,0.066296,0.000000,0.159146,0.36066,0.457979

In [44]:
# TFIDF on Job Requirements
job_requirements=df['requirements']
job_requirements_tvec=TfidfVectorizer(lowercase=True, ngram_range=(1,3),stop_words='english', max_df=0.5,min_df=2,max_features=25)
job_requirements_tvec.fit(job_requirements)

job_requirements_df=pd.DataFrame(job_requirements_tvec.transform(job_requirements).todense(),columns=['Requirements_'+ n for n in job_requirements_tvec.get_feature_names()])

In [45]:
job_requirements_df.head()

,Requirements_abil,Requirements_analyt,Requirements_applic,Requirements_busi,Requirements_comput,Requirements_data,Requirements_degre,Requirements_design,Requirements_develop,Requirements_engin,Requirements_environ,Requirements_excel,Requirements_good,Requirements_manag,Requirements_prefer,Requirements_process,Requirements_project,Requirements_relat,Requirements_scienc,Requirements_strong,Requirements_team,Requirements_technic,Requirements_technolog,Requirements_understand,Requirements_use
0,0.096900,0.114770,0.0,0.335368,0.226848,0.585792,0.179346,0.000000,0.000000,0.234067,0.000000,0.000000,0.000000,0.183872,0.111309,0.000000,0.000000,0.113591,0.466010,0.000000,0.307156,0.000000,0.000000,0.113093,0.000000
1,0.130550,0.309251,0.0,0.451829,0.305625,0.526145,0.120813,0.163939,0.000000,0.000000,0.163417,0.286411,0.000000,0.123862,0.000000,0.170239,0.159374,0.153037,0.156960,0.125971,0.000000,0.170526,0.000000,0.000000,0.000000
2,0.000000,0.075851,0.0,0.073881,0.074961,0.838817,0.059264,0.000000,0.000000,0.077347,0.080163,0.000000,0.000000,0.060760,0.000000,0.417548,0.000000,0.225214,0.076996,0.061794,0.135332,0.000000,0.000000,0.000000,0.082540
3,0.157076,0.372086,0.0,0.181211,0.000000,0.633049,0.145361,0.000000,0.000000,0.000000,0.000000,0.000000,0.340428,0.000000,0.180432,0.204828,0.000000,0.184131,0.000000,0.151566,0.165968,0.000000,0.180951,0.183325,0.202449
4,0.000000,0.000000,0.0,0.000000,0.485389,0.417808,0.383748,0.000000,0.440463,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.498562,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [46]:
# Getting Training and Testing dataset
x_pred=pd.concat([company_name_df,job_title_df,job_category_df,job_description_df,job_requirements_df],axis=1)
y_true=df.salary_high_low.ravel()

In [47]:
x_train,x_test,y_train,y_test=train_test_split(x_pred,y_true,test_size=0.3,random_state=30)

In [48]:
ss=StandardScaler()
xs_train=ss.fit_transform(x_train)
xs_test=ss.fit_transform(x_test)

xs_train_df=pd.DataFrame(xs_train,columns=x_train.columns)
xs_test_df=pd.DataFrame(xs_test,columns=x_test.columns)

In [49]:
# Using Logistic Regression
lr=LogisticRegression()
lr.fit(x_train,y_train)

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [50]:
pred = lr.predict(xs_test)
score = metrics.f1_score(y_test, pred)
print(classification_report(y_test, pred))
print('f1-score:', score)

              precision    recall  f1-score   support

           0       0.48      0.72      0.57       102
           1       0.81      0.61      0.69       202

   micro avg       0.64      0.64      0.64       304
   macro avg       0.64      0.66      0.63       304
weighted avg       0.70      0.64      0.65       304

f1-score: 0.6949152542372882

In [51]:
lr_coef = pd.DataFrame({'coef':lr.coef_.ravel(),
                    'mag':np.abs(lr.coef_.ravel()),
                    'pred':x_test.columns})

lr_coef.sort_values('mag', ascending=False, inplace=True)
lr_coef.head(10)

         coef       mag                     pred
27  -2.751504  2.751504          Title_assistant
36  -1.970332  1.970332          Title_executive
3    1.473162  1.473162                Name_bank
116  1.204259  1.204259     Requirements_project
43   1.198753  1.198753          Title_scientist
123  1.195873  1.195873  Requirements_understand
13   1.152917  1.152917            Name_research
96   1.142771  1.142771      Description_technic
121  1.090553  1.090553     Requirements_technic
26   1.040408  1.040408          Title_architect

In [52]:
from sklearn.tree import DecisionTreeClassifier

In [53]:
# using gridsearch params

dtc_params = {
    'max_depth':[None,1,2,3,4],
    'max_features':[None,'log2','sqrt',2,3,4,5],
    'min_samples_split':[2,3,4,5,10,15,20,25,30,40,50]}

# set the gridsearch
dtc_gs=GridSearchCV(DecisionTreeClassifier(), dtc_params, cv=5,verbose=1)

In [54]:
dtc_gs.fit(xs_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

Fitting 5 folds for each of 385 candidates, totalling 1925 fits

[Parallel(n_jobs=1)]: Done 1925 out of 1925 | elapsed:    4.2s finished

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'max_depth': [None, 1, 2, 3, 4], 'max_features': [None, 'log2', 'sqrt', 2, 3, 4, 5], 'min_samples_split': [2, 3, 4, 5, 10, 15, 20, 25, 30, 40, 50]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=1)

In [55]:
# Best Estimator
dtc_best = dtc_gs.best_estimator_
print(dtc_gs.best_params_)
print(dtc_gs.best_score_)

{'max_depth': 4, 'max_features': None, 'min_samples_split': 2}
0.7005649717514124

In [56]:
fi = pd.DataFrame({
        'feature':x_train.columns,
        'importance':dtc_best.feature_importances_
    })

fi.sort_values('importance', ascending=False, inplace=True)
fi.head(10)

                       feature  importance
27             Title_assistant    0.350077
36             Title_executive    0.202952
94           Description_solut    0.191162
35              Title_engineer    0.159562
122     Requirements_technolog    0.066787
101        Requirements_analyt    0.029459
67          Category_relations    0.000000
82          Description_includ    0.000000
66   Category_public relations    0.000000
91          Description_provid    0.000000

In [57]:
pred = dtc_best.predict(x_test)
score = metrics.f1_score(y_test, pred)
print(classification_report(y_test, pred, labels=[1,0], target_names=['high salary','low salary']))
print('f1_score=',score)

              precision    recall  f1-score   support

 high salary       0.66      1.00      0.80       202
  low salary       0.00      0.00      0.00       102

   micro avg       0.66      0.66      0.66       304
   macro avg       0.33      0.50      0.40       304
weighted avg       0.44      0.66      0.53       304

f1_score= 0.7984189723320159

/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

## Summary

Based on the outputs from logistic regression and random forrest, it seems the logistic regression is output more decent and sensical outputs than random forrest even though random forrest is the better model. This can be seen from the classification report where the random forrest model is showing 100% recall for high salary which shouldnt be the case while the logistic regression is showing a balanced of recall and precision.

Both models are showing that the important features in determining the salary of a job is the job title

## Question 2

## EDA and Job Title Cleaning

In [58]:
for i in df.job_title.index:
    
        try:
        
            title=re.sub('[^a-zA-Z]',' ',df.job_title[i])
            df['job_title'][i] = title.split()
        
        except TypeError:
            df['job_title'][i] = 'NaN'

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [83]:
xf=pd.Series(index=df.job_title.index)

In [90]:
list_word=['data']

for index,sentence in enumerate(df.job_title):
    for word in sentence:
        if word in list_word:
            xf[index]=1

In [91]:
xf

0      1.0
1      1.0
3      1.0
6      1.0
7      1.0
8      1.0
10     1.0
11     NaN
14     NaN
15     NaN
17     NaN
19     NaN
20     NaN
22     NaN
23     NaN
24     NaN
26     NaN
27     NaN
30     NaN
31     NaN
32     NaN
34     NaN
35     NaN
36     NaN
37     NaN
38     NaN
41     NaN
43     NaN
45     NaN
48     NaN
      ...
629    1.0
630    1.0
631    1.0
632    1.0
723    1.0
725    1.0
742    1.0
748    1.0
755    1.0
760    1.0
761    1.0
763    1.0
764    1.0
766    1.0
767    1.0
858    1.0
860    1.0
863    1.0
865    1.0
866    1.0
872    1.0
969    1.0
971    1.0
973    1.0
975    1.0
976    1.0
977    1.0
978    1.0
980    1.0
981    1.0
Length: 1097, dtype: float64

In [89]:
pd.concat([df,xf],axis=1)

,company_name,job_address,job_title,job_category,employment_type,salary_type,description,requirements,salary_min,salary_max,salary_average,salary_high_low,postcode,0
0,google asia pacific,"marina bay financial centre, 8 marina boulevar...","[data, science, lead, large, customer, sales, ...",information technology,permanent and fulltime,monthly,googl convent compani intend becom one true sh...,minimum qualif bachelor degre statist mathemat...,7700.0,15400.0,11550.0,1.0,018981,1.0
1,trakomatic,NaN,"[data, analyst]",information technology,permanent and fulltime,monthly,retail data analyst lead perform complex analy...,bachelor degre math comput scienc busi analyt ...,3500.0,4500.0,4000.0,0.0,NaN,1.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,intellect minds,"anson centre, 51 anson road 079904","[data, engineer]",information technology,permanent and fulltime,monthly,intellect mind singapor base compani sinc spec...,qualif advanc work sql knowledg experi work re...,5000.0,7000.0,6000.0,1.0,079904,1.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6,dbs bank,"marina bay financial centre, 12 marina bouleva...","[avp, data, scientist, business, analytics, co...",information technology,permanent and fulltime,monthly,busi function lead bank asia db consum bank gr...,master equival degre statist appli mathemat op...,6500.0,11700.0,9100.0,1.0,018982,1.0
7,niometrics,"parkview square, 600 north bridge road 188778","[high, performance, data, engineer]",information technology,permanent and fulltime,monthly,invit part ambiti close knit team creat system...,valu bachelor higher degre comput scienc equiv...,5500.0,11000.0,8250.0,1.0,188778,1.0
8,niometrics,"parkview square, 600 north bridge road 188778","[data, scientist]",information technology,permanent and fulltime,monthly,niometr captur organis extract insight biggest...,valu ba bs ms equival experi appli data scienc...,5000.0,10000.0,7500.0,1.0,188778,1.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
10,allegis global solutions,"suntec tower five, 5 temasek boulevard 038985","[data, management, officer, financial, markets...",banking and finance,temporary and fulltime,monthly,allegi global solut exclus conting hr servic p...,degre bank financ busi legal document financi ...,2600.0,3000.0,2800.0,0.0,038985,1.0
11,gmp technologies,"one finlayson green, 1 finlayson green 049246","[data, center, manager]",information technology,permanent and fulltime,monthly,initi tactic solut support data centr strategi...,degre inform technolog relev disciplin year re...,4500.0,5500.0,5000.0,0.0,049246,NaN
14,lazada south east asia,"axa tower, 8 shenton way 068811","[vice, president, data, science]",information technology,permanent and fulltime,monthly,team introduct lazada number one onlin shop se...,least two year relev work experi master phd de...,9000.0,14000.0,11500.0,1.0,068811,NaN
15,rgf talent solutions singapore,71 robinson road 068895,"[business, data, analyst]",marketing public relations,temporary and fulltime,monthly,support global market team work larg set data ...,degre holder least year profession experi data...,6000.0,10000.0,8000.0,1.0,068895,NaN
17,keyteo consulting,"hong leong building, 16 raffles quay 048581","[data, scientist, application, production, eng...",banking and finance,permanent and fulltime,monthly,compani found keyteo consult compani special o...,role posit within etrad applic product team si...,8000.0,16000.0,12000.0,1.0,048581,NaN
19,wongpartnership llp,"marina bay financial centre, 12 marina bouleva...","[marketing, and, client, services, administrator]",marketing public relations,permanent and fulltime,monthly,wongpartnership top tier law firm headquart si...,diploma relev disciplin minimum year relat exp...,2000.0,2999.0,2499.5,0.0,018982,NaN
20,manpower staffing services,"guoco tower, 1 wallich street 078881","[enterprise, architecture, tool, admin]",information technology,temporary and fulltime,monthly,enterpris architectur tool admin develop maint...,year experi enterpris architectureknowledg exp...,6000.0,8500.0,7250.0,1.0,078881,NaN
22,gumi asia,"connexis, 1 fusionopolis way 138632","[user, acquisition, executive, facebook, adver...",advertising media,permanent and fulltime,monthly,candid part compani expand market team respons...,passion game strong mathemat skill digit marke...,4000.0,5600.0,4800.0,0.0,138632,NaN
23,wipro,31 cantonment road 089747,"[managing, consultant, banking, and, blockchain]",information technology,temporary and fulltime,monthly,ideal candid year experi busi technolog transf...,skill knowledg mandatori indepth domain knowle...,10000.0,15000.0,12500.0,1.0,089747,NaN
24,singapore management university,NaN,"[senior, systems, engineer, office, of, integr...",information technology,permanent and fulltime,monthly,compani descript singapor manag univers place ...,degre comput scienc comput engin electron elec...,3800.0,5900.0,4850.0,0.0,NaN,NaN
26,google asia pacific,"marina bay financial centre, 8 marina boulevar...","[global, mobility, solution, operations, speci...",general management,permanent and fulltime,monthly,googl convent compani intend becom one true sh...,minimum qualif bachelor degre mathemat econom ...,4500.0,9000.0,6750.0,1.0,018981,NaN
27,nanyang technological university,"nanyang technological university, 50 nanyang a...","[research, associate, computational, linguistics]",sciences laboratory r d,temporary and fulltime,monthly,school human invit applic posit research assoc...,least master psycholog cognit scienc linguist ...,4000.0,5500.0,4750.0,0.0,639798,NaN
30,sephora digital sea,"marina bay financial centre, 8 marina boulevar...","[product, manager, sales, engine]",engineering,permanent and fulltime,monthly,sephora digit seek hire product manag sale eng...,success candid analyt passion technolog excel ...,6000.0,7500.0,6750.0,1.0,018981,NaN
31,government technology agency,"mapletree business city, 10 pasir panjang road...","[associate, director, performance, management,...",information technology public civil service,permanent and fulltime,monthly,part team manag whole govern wog ict smart sys...,NaN,11000.0,13000.0,12000.0,1.0,117438,NaN
32,government technology agency,"mapletree business city, 10 pasir panjang road...","[assistant, manager, performance, management, ...",information technology public civil service,permanent and fulltime,monthly,part team manag whole govern wog ict smart sys...,NaN,4000.0,6000.0,5000.0,0.0,117438,NaN
34,spencer ogden,"one raffles place, 1 raffles place 048616","[sap, pp, mm, senior, consultant, sap, hr, con...",information technology,temporary and fulltime,monthly,candid must implement experi abl work individu...,least year strong experi ecc sap pp mm must cy...,5000.0,9000.0,7000.0,1.0,048616,NaN
35,wipro,31 cantonment road 089747,"[project, manager]",information technology,permanent and fulltime,monthly,posit respons manag applic mainten support ser...,bachelor degre requir minimum advanc degre pre...,8500.0,10500.0,9500.0,1.0,089747,NaN
36,apar innosys,"sgx centre ii, 4 shenton way 068807","[software, consultant]",information technology,temporary and fulltime,monthly,look highli motiv individu work variou member ...,master bachelor degre statist appli math oper ...,6000.0,9000.0,7500.0,1.0,068807,NaN
37,neurones it asia,"tampines plaza, 5 tampines central 1 529541","[sap, consultant, pp]",information technology,temporary and fulltime,monthly,respons part full project lifecycl experi incl...,least year strong experi ecc sap pp mm must cy...,7200.0,8000.0,7600.0,1.0,529541,NaN
38,search staffing services,"chevron house, 30 raffles place 048622","[senior, engineer, software, perception, auton...",engineering,permanent and fulltime,monthly,client lead german automot electron supplier s...,degre electr engin comput scienc compar qualif...,5000.0,8500.0,6750.0,1.0,048622,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1953,international sos technology services,NaN,"[scrum, master]",information technology,permanent and fulltime,monthly,data analyt team digit innov servic centr disc...,consid role skill expertis follow scrum master...,7500.0,8500.0,8000.0,1.0,NaN,NaN
1954,national university of singapore,21 lower kent ridge road 119077,"[research, associate]",sciences laboratory r d,temporary and fulltime,annually,research associ posit immedi avail institut da...,master degre comput scienc relat disciplin yea...,40800.0,84600.0,5225.0,0.0,119077,NaN
1955,nanyang technological university,"nanyang technological university, 50 nanyang a...","[research, fellow]",sciences laboratory r d,temporary and fulltime,monthly,joint ntu ubc research centr excel activ live ...,phd degre relev technic field statist mathemat...,4500.0,6500.0,5500.0,0.0,639798,NaN
1956,bizhub asia,"ub. one, 81 ubi avenue 4 408830","[it, manager]",information technology,permanent and fulltime,monthly,lead drive advanc technolog method process man...,candid must possess least bachelor degre post ...,6000.0,9000.0,7500.0,1.0,408830,NaN
1957,alphatech business solutions,NaN,"[informatica, cloud, developer]",information technology,temporary and fulltime,monthly,etl develop help design data storag system ove...,degre comput scienc equival relev work experi ...,7000.0,9000.0,8000.0,1.0,NaN,NaN
1958,emporio analytics,NaN,"[senior, software, engineer]",information technology,permanent and fulltime,monthly,lead design develop deploy improv product web ...,year hand experi develop complex secur user ce...,7000.0,9000.0,8000.0,1.0,NaN,NaN
1959,dathena science,"one george street, 1 george street 049145","[full, stack, developer]",engineering,permanent and fulltime,monthly,job titl full stack develop report solut archi...,respons implement sophist product develop proj...,4000.0,6000.0,5000.0,0.0,049145,NaN
1960,alphatech business solutions,NaN,"[senior, business, intelligence, analyst]",information technology,temporary and fulltime,monthly,role senior busi intellig analyst serv primari...,minimum bachelor degre quantit field requir en...,6000.0,8000.0,7000.0,1.0,NaN,NaN
1961,the supreme hr advisory,"az @ paya lebar, 140 paya lebar road 409015","[chief, information, officer, chief, technolog...",information technology,permanent and fulltime,monthly,job purpos lead drive advanc technolog method ...,master degre inform technolog area equival can...,9000.0,12000.0,10500.0,1.0,409015,NaN
1962,niometrics,"parkview square, 600 north bridge road 188778","[quality, assurance, tester]",information technology,permanent and fulltime,monthly,technolog transform peopl live behaviour conti...,valu bachelor degre comput scienc informat eng...,2500.0,5000.0,3750.0,0.0,188778,NaN
1963,dathena science,"one george street, 1 george street 049145","[support, engineer]",information technology,permanent and fulltime,monthly,job titl support engin report big data infrast...,respons mainten compani network maintain impro...,4000.0,6000.0,5000.0,0.0,049145,NaN
1964,alphatech business solutions,NaN,"[business, intelligence, analyst, bi, developer]",information technology,permanent and fulltime,monthly,creat best practic data visual well illustr gr...,year experi data visual visual analyt statist ...,5500.0,8000.0,6750.0,1.0,NaN,NaN
1967,a*star research entities,NaN,"[sics, research, coordinator, ndrc]",sciences laboratory r d,temporary and fulltime,monthly,neurodevelop research centr sic base kkh centr...,degre psycholog assist investig coordin conduc...,2500.0,5000.0,3750.0,0.0,NaN,NaN
1968,creadits,"capital tower, 168 robinson road 068912","[deep, learning, engineer]",information technology,permanent and fulltime,monthly,compani creadit reinvent digit advertis world ...,minimum qualif phd master degre comput scienc ...,6500.0,8500.0,7500.0,1.0,068912,NaN
1969,standard chartered bank,"marina bay financial centre, 8 marina boulevar...","[lead, business, analyst]",banking and finance,permanent and fulltime,monthly,human bank commit help career within standard ...,qualif skill master degre engin graduat equiva...,10800.0,15000.0,12900.0,1.0,018981,NaN
1970,alphatech business solutions,NaN,"[servicenow, developer]",information technology,permanent and fulltime,monthly,job descript servicenow admin develop respons ...,servicenow admin develop must follow qualif ye...,5500.0,7000.0,6250.0,1.0,NaN,NaN
1976,stone forest accountserve,"wilkie edge, 8 wilkie road 228095","[aluminium, analyst]",consulting,permanent and fulltime,annually,client market lead analysi divis seek talent m...,essenti criteria undergradu degre econom simil...,60000.0,84000.0,6000.0,1.0,228095,NaN
1978,ncs,"ncs hub, 5 ang mo kio street 62 569141","[senior, manager, operations]",information technology,permanent and fulltime,monthly,oper manag report oper director overse oper ma...,degre holder equival min year experi project o...,8000.0,9000.0,8500.0,1.0,569141,NaN
1979,robert walters,6 battery road 049909,"[senior, business, analyst]",information technology,permanent and fulltime,annually,renown global bank base singapor job opportun ...,succeed senior busi analyst job need poss expe...,200000.0,220000.0,17500.0,1.0,049909,NaN
1982,business edge personnel services,"singapore shopping centre, 190 clemenceau aven...","[nutritionist, jan, mar]",sciences laboratory r d,temporary and fulltime,monthly,locat outram salari per hour assist follow are...,good verbal written commun skill bilingu requi...,1900.0,2200.0,2050.0,0.0,239924,NaN
1983,techcom solutions & consultancy,"shenton house, 3 shenton way 068805","[mainframe, developer]",banking and finance information technology,temporary and fulltime,monthly,code modifi test correct document new exist pr...,least three year post graduat program experi i...,5000.0,6500.0,5750.0,0.0,068805,NaN
1987,alphatech business solutions,NaN,"[environment, manager]",information technology,permanent and fulltime,monthly,environ deploy manag oper deploy manag murex e...,year experi murex environ manag co ordin imple...,10000.0,13000.0,11500.0,1.0,NaN,NaN
1988,alphatech business solutions,NaN,"[adobe, google, analytics, developer]",information technology,temporary and fulltime,monthly,senior adob googl analyt develop analyz design...,bachelor degre comput scienc relat field prefe...,6000.0,9000.0,7500.0,1.0,NaN,NaN
1989,troytech international consulting,"guoco tower, 1 wallich street 078881","[test, engineering, officers]",engineering,temporary and fulltime,monthly,assist lta test lead manag lta contractor carr...,recognis polytechn diploma electron electr eng...,2000.0,3500.0,2750.0,0.0,078881,NaN
1990,derivit solutions,"spore business federation ctr, 160 robinson ro...","[principal, consultant]",banking and finance information technology,permanent and fulltime,monthly,least year configur var report upload scenario...,mandatori skill least yr murex knowledg domain...,11000.0,12000.0,11500.0,1.0,068914,NaN
1991,derivit solutions,"spore business federation ctr, 160 robinson ro...","[principal, consultant]",banking and finance information technology,permanent and fulltime,monthly,least year configur var report upload scenario...,mandatori skill atleast yr murex knowledg doma...,10000.0,11000.0,10500.0,1.0,068914,NaN
1992,nanyang technological university,"nanyang technological university, 50 nanyang a...","[research, associate]",sciences laboratory r d,temporary and fulltime,monthly,earth observatori singapor eo ntu singapor nat...,master geophys experi c c fortran matlab code ...,3400.0,6700.0,5050.0,0.0,639798,NaN
1993,teledirect,"viva business park, 750b chai chee road 469002","[business, analyst]",consulting,permanent and fulltime,monthly,busi analyst respons collect analyz evalu data...,must possess least diploma strong analyt skill...,2500.0,5000.0,3750.0,0.0,469002,NaN
1995,infinite computer solutions,20 changi south avenue 2 486547,"[senior, network, consultant]",information technology,permanent and fulltime,monthly,job purpos key account account level network s...,experi indic natur extent work experi includ n...,4500.0,6000.0,5250.0,0.0,486547,NaN
1999,singapore airlines,"airline house, 25 airline road 819829","[informatica, power, center, developer]",information technology,permanent and fulltime,monthly,design develop new complex etl process use inf...,possess degre inform technolog relat field lea...,4500.0,9000.0,6750.0,1.0,819829,NaN

#### Having issue with forming a target variable columns of 1 (Data Job Titles) and 0 (Non Data Job Title). 
#### After forming the target variable columns, I would create new predictors from the bag of words model created from job requirements and job description. Following the steps done for Question 1, I would create a new train and test split for predictors and target and form a logistic regression model and random forrest to determine the best model and the optimal features that would be used to determine what words in the job description and job requirements determines the difference between a data job title and a non data job title